body{
  background-color: #252846;
}
img{
  width: 32px;
  height: 32px;
  border: 2px solid red;
}
#d1{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 265px;
}
#d1 b{
 background-color: white;
 text-align: right;
}
#d1 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d2 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d3 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d4 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d5 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d6 img{
  margin-top: 7px;
  margin-left: 7px;
}
#d7 img{
  margin-top: 7px;
  margin-left: 7px;
}

#d2{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 337px;
}
#d3{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 409px;
}
#d4{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left:10%;
  top: 481px;
}
#d5{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 553px;
}
#d6{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 625px;
}
#d7{
  width: 80%;
  height: 50px;
  background-color: #111221;
  position: absolute;
  left: 10%;
  top: 697px;
}
p{
  width: 904px;
  height: 72px;
  position: absolute;
  left: 231px;
  top: 150px;
  font-size: 40px;
  color: #707070;
  text-align: center;
}
